<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/media.css">
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&family=Kanit:wght@300&family=Lora:wght@400;500;600&family=Montserrat:wght@100&family=Roboto:wght@400;500&display=swap"
        rel="stylesheet">
    <link rel="shortcut icon" href="./img/Bharat_Image-removebg-preview.png" type="image/x-icon">    
    <!-- Bootstrap link for icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <!-- -GOOGLE FONTS -->
    <script src="https://kit.fontawesome.com/e62c2af660.js" crossorigin="anonymous"></script>
    <title>Bharat Sharma</title>
</head>

<body>

    <!-- Side Bar -->

    <section>
        <div class="social-media">
            <div><a href="https://www.linkedin.com/in/bharat-sharma-50208b238/" target="_blank"><i
                        class="bi bi-linkedin"></i></a></div>
            <div><a href="https://www.instagram.com/bharat_sharma18/" target="_blank"><i
                        class="bi bi-instagram"></i></a></div>
            <div><a href=""><i class="bi bi-facebook"></i></a></div>
            <div><a href="https://github.com/bhar1gitr" target="_blank"><i class="bi bi-github"></i></a></i></div>
        </div>
    </section>

    <!-- Navigation Bar -->
    <nav>
        <div class="navigation">
            <div class="left">
                Bharat Sharma
                <div>
                    <i id="bar" onclick="change()" class="fas fa-outdent"></i>
                </div>
            </div>
            <div class="uls" id="navs">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#about-me">About Me</a></li>
                    <li><a href="">My Skills</a></li>
                    <li><a href="">Contact Me</a></li>
                    <li><a href="https://github.com/bhar1gitr?tab=repositories">My Projects</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->

    <header>
        <div id="home" class="header">
            <div class="left">
                <h4>Hello,</h4>
                <h1>I'm Bharat Sharma</h1>
                <h2>UI/UX Designer</h3>
                    <h4>From India</h4>
                    <div>
                        <div class="btn"><a href="../Bharat_Sharma_Resume_latest_.pdf" download>Download CV</a></div>
                    </div>
            </div>

            <div class="right">

            </div>
        </div>
    </header>

    <!-- About Me -->

    <section>
        <div class="about-me">

            <div class="heading">
                <h1>About Me</h1>
            </div>
            <div class="main-content">

                <div class="left">

                </div>
                <div class="right">
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium inventore repudiandae
                        pariatur molestiae ea nemo quaerat vitae magnam, nostrum nobis ut vel, fugiat veniam dolorem
                        alias maiores sequi quas vero!</p>
                </div>
            </div>
        </div>
        </div>
    </section>

    <!-- My Skills -->

    <section>
        <div class="my-skills">
            <div id="" class="heading">
                <h1>My Skills</h1>
            </div>
            <div class="main-content">
                <div class="left">
                    <div class="one">
                        <div class="icon"><i class="bi bi-brush-fill"></i></div>
                        <div class="info">
                            <h1>Design + Development</h1>
                            <p>Clean, modern designs - optimized for performance, search engines, and converting users to consumners.</p>
                        </div>
                    </div>
                    <div class="two">
                        <div class="icon"><i class="bi bi-code-slash"></i></div>
                        <div class="info">
                            <h1>Technology</h1>
                            <p>Combined all the latest technologies to a progressive website.</p>
                        </div>
                    </div>
                    <div class="three">
                        <div class="icon"><i class="bi bi-tablet-fill"></i></div>
                        <div class="info">
                            <h1>Always Responsive</h1>
                            <p>A respnonsive design makes your website accessible to all users, regardless of their device.</p>
                        </div>
                    </div>
                </div>
                <div class="right">
                    <div class="one">
                        <h5>HTML</h5>
                        <div>
                            <div></div>
                        </div>
                    </div>
                    <div class="two">
                        <h5>CSS</h5>
                        <div>
                            <div></div>
                        </div>
                    </div>
                    <div class="three">
                        <h5>Java Script</h5>
                        <div>
                            <div></div>
                        </div>
                    </div>
                    <div class="four">
                        <h5>Node Js</h5>
                        <div>
                            <div></div>
                        </div>
                    </div>
                    <div class="five">
                        <h5>C/C++</h5>
                        <div>
                            <div></div>
                        </div>
                    </div>
                    <div class="six">
                        <h5>Java/Servlet</h5>
                        <div>
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>


    
    <!-- Contact Me -->

    <div class="contact-me">
        <div class="heading">
            <h1>Contact Me</h1>
        </div>
        <section id="form-details">
            <form action="/" method="post">
                <span>LEAVE A MESSAGE</span>
                <h2>I love to hear from you</h2>
                <input type="text" name="name" placeholder="Your Name" required>
                <input type="email" name="email" placeholder="E-mail" required>
                <textarea name="msg" id="" cols="30" rows="10" placeholder="Your Message" required></textarea>
                <button type="submit" class="normal">Submit</button>
            </form>
        </section>
    </div>

    <!-- Footer -->

    <footer>
        <div class="left">
            <div><a href="https://www.linkedin.com/in/bharat-sharma-50208b238/" target="_blank"><i
                        class="bi bi-linkedin"></i></a></div>
            <div><a href="https://www.instagram.com/bharat_sharma18/" target="_blank"><i
                        class="bi bi-instagram"></i></a></div>
            <div><a href=""><i class="bi bi-facebook"></i></a></div>
            <div><a href="https://github.com/bhar1gitr" target="_blank"><i class="bi bi-github"></i></a></i></div>
        </div>
        <div class="right">
            <div class="copyright">Copyright © 2022 bharatsharama98971@gmail.com</div>
        </div>
    </footer>

    <script>
        const bar = document.getElementById("bar");
        const navs = document.getElementById("navs");

        function change() {
            if (navs.style.display == "block" && bar.className == "bi bi-x-square") {
                navs.style.display = "none";
                bar.className = "fas fa-outdent";
            } else {
                navs.style.display = "block";
                bar.className = "bi bi-x-square";

            }
        }
    </script>

</body>

</html>
