<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./css/media.css">
<!-- Footer -->

<footer>
  <div class="left">
    <div><a href="https://www.linkedin.com/in/bharat-sharma-50208b238/" target="_blank"><i
          class="bi bi-linkedin"></i></a></div>
    <div><a href="https://www.instagram.com/bharat_sharma18/" target="_blank"><i class="bi bi-instagram"></i></a></div>
    <div><a href=""><i class="bi bi-facebook"></i></a></div>
    <div><a href="https://github.com/bhar1gitr" target="_blank"><i class="bi bi-github"></i></a></i></div>
  </div>
  <div class="right">
    <div class="copyright">Copyright © 2022 bharatsharama98971@gmail.com</div>
  </div>
</footer>