
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/media.css">

<style>nav{opacity: 1;}</style>
    <!-- Navigation Bar -->
    <nav>
        <div class="navigation">
            <div class="left">
                Bharat Sharma
            </div>

        </div>
    </nav>